.row, .navbar {
  display: flex;
  flex-wrap: wrap;
}

.row, .navbar {
  display: flex;
  flex-wrap: wrap;
}

.m-1 {
  margin: 0.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.p-2 {
  padding: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.ml-2 {
  margin-left: 1rem;
}

.pl-2 {
  padding-left: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.pr-2 {
  padding-right: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.p-3 {
  padding: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.p-4 {
  padding: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.ml-4 {
  margin-left: 2rem;
}

.pl-4 {
  padding-left: 2rem;
}

.mr-4 {
  margin-right: 2rem;
}

.pr-4 {
  padding-right: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.p-5 {
  padding: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-0 {
  margin-top: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inblock {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.cell-full {
  width: 100%;
}

.cell-half {
  width: 50%;
}

.cell-third {
  width: 33.3333333333%;
}

.cell-quarter {
  width: 25%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.link {
  display: block;
  padding: 0.5rem 1rem;
  color: #228cdb;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link:hover {
  color: #495867;
}

ul.nav {
  list-style: none;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
}
.navbar .toggle-btn {
  border: 0px none;
  background-color: transparent;
  padding: 1rem;
  width: 4.5rem;
  text-align: center;
}
.navbar .toggle-btn .fa {
  color: #386fa4;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 2.5rem;
}
.navbar .toggle-btn:focus, .navbar .toggle-btn:hover {
  box-shadow: none;
  outline: none;
}
.navbar .toggle-btn:focus .fa, .navbar .toggle-btn:hover .fa {
  color: #228cdb;
}
.navbar .nav {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.navbar .nav .link {
  color: #228cdb;
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar .nav .link:hover {
  color: #495867;
  text-decoration: underline;
}
.navbar .nav .active {
  background-color: #228cdb;
}
.navbar .nav .active .link {
  color: #fcfcfc;
}
.navbar .nav .nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.navbar .navbar-logo {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #495867;
}
.navbar .navbar-logo span {
  display: block;
}
.navbar .navbar-logo .logo-img-holder {
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar .navbar-logo img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-inblock {
    display: inline-block !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .cell-sm-full {
    width: 100%;
  }

  .cell-sm-half {
    width: 50%;
  }

  .cell-sm-third {
    width: 33.3333333333%;
  }

  .cell-sm-quarter {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }

  .nav {
    flex-direction: row;
  }

  .nav-item {
    text-align: center;
  }

  .navbar .toggle-btn {
    display: none;
  }
  .navbar .nav {
    flex-direction: row;
    align-items: flex-start;
    width: auto;
  }
  .navbar .nav .link {
    color: #495867;
  }
  .navbar .nav .link:hover {
    color: #228cdb;
  }
  .navbar .nav .active {
    background-color: transparent;
  }
  .navbar .nav .active .link {
    color: #228cdb;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-inblock {
    display: inline-block !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .cell-lg-full {
    width: 100%;
  }

  .cell-lg-half {
    width: 50%;
  }

  .cell-lg-third {
    width: 33.3333333333%;
  }

  .cell-lg-quarter {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
html {
  font-size: 12px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, input, textarea {
  font-family: "Ubuntu", sans-serif;
  color: #fcfcfc;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

#main-navigation {
  box-shadow: 0px 1px 2px #808080;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 1000;
  background-color: #fff;
}

.navbar {
  position: relative;
}
.navbar .nav {
  position: absolute;
  top: 76px;
  left: 0px;
  width: 40%;
  -moz-transition: left 0.4s cubic-bezier(0.12, 0.88, 0.35, 1);
  -o-transition: left 0.4s cubic-bezier(0.12, 0.88, 0.35, 1);
  -webkit-transition: left 0.4s cubic-bezier(0.12, 0.88, 0.35, 1);
  transition: left 0.4s cubic-bezier(0.12, 0.88, 0.35, 1);
}
.navbar .navbar-logo {
  margin-left: auto;
  padding-right: 1.5rem;
}
.navbar .navbar-logo span {
  line-height: 64px;
}
.navbar .hide {
  left: -42%;
}

.nav-item {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 2px;
}

#main-nav {
  background-color: #fff;
  box-shadow: 2px 0px 8px -2px grey;
  height: 3000px;
}

#main-navigation.nav-up {
  top: -74px;
}

#main {
  padding-top: 76px;
  width: 100%;
}

#main.other-page {
  background: #e7ecef;
}

#cover {
  position: relative;
  overflow: hidden;
}

#cover-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#cover-content p {
  max-width: 65%;
  line-height: 1.75rem;
  font-size: 1rem;
}

#cover-content h1 {
  font-size: 2rem;
}

.big-text {
  font-size: 1.75rem;
  font-weight: bold;
}

.cover-img {
  min-width: 100%;
  min-height: 100%;
}

.contact-btn {
  background: linear-gradient(to right, #1d2cfd, #47c2f3);
  border-radius: 6px;
  text-align: center;
  padding: 1.25rem;
  margin-top: 2rem;
  color: #fff;
  font-weight: bold;
  border: 0px none;
  outline: none;
  cursor: pointer;
  width: 220px;
  text-shadow: 0px 0px 0.3px #fff;
}
.contact-btn a {
  color: #fff;
}

.number-circle {
  min-width: 48px;
  height: 48px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  padding: 15px 0px;
  color: rgba(101, 137, 151, 0.33);
  border: 2px solid rgba(101, 137, 151, 0.33);
  border-radius: 50%;
  cursor: default;
  -moz-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  -o-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.number-circle:hover {
  border: 2px solid #228cdb;
  background-color: #228cdb;
  color: #fff;
}

.info {
  display: flex;
}

h3 {
  color: #fcfcfc;
  font-size: 1.25rem;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
h3:hover {
  color: #495867;
  text-decoration: underline;
  cursor: pointer;
}

.info-text {
  padding: 0px 1rem;
  margin-left: 1rem;
}
.info-text h3 {
  margin-bottom: 1rem;
  color: #228cdb;
  font-size: 1.45rem;
}
.info-text h3:hover {
  color: #495867;
}
.info-text p {
  color: #5d7da7;
}

.gradient {
  background: linear-gradient(#386fa4, #228cdb);
}

.img-rounded {
  padding: 0.75rem;
}

.img-rounded img {
  border-radius: 50%;
  overflow: hidden;
}

#about-us h2 {
  font-size: 2rem;
}

#services {
  color: #495867;
}
#services p {
  color: #5d7da7;
}
#services h3 {
  color: #495867;
}
#services h3:hover {
  color: #228cdb;
}
#services .fa {
  font-size: 50px;
  color: #386fa4;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
#services .fa:hover {
  color: #228cdb;
  cursor: pointer;
}

#best-offers h2 {
  color: #495867;
}

.offer-overlay {
  position: relative;
}
.offer-overlay img {
  display: block;
}
.offer-overlay .more-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.offer-overlay .more-info:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.offer-overlay .more-info:hover .more-info-btn {
  display: block;
}
.offer-overlay .more-info .more-info-btn {
  display: none;
  position: relative;
  margin: 0px auto;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  padding: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #228cdb;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 4px;
  cursor: pointer;
}

#social-media {
  background-color: #228cdb;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  min-width: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.social-media:hover {
  background-color: #47c2f3;
}

#footer .cell-full {
  text-align: center;
  border-top: 1px dashed rgba(166, 199, 214, 0.7);
}
#footer .cell-full:first-child {
  border-top: 0px none;
}
#footer ul {
  list-style: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
#footer li {
  margin: 4px 0px;
}
#footer li a, #footer li span {
  color: #228cdb;
  cursor: pointer;
}
#footer li a:hover, #footer li span:hover {
  text-decoration: underline;
}
#footer form {
  text-align: center;
}
#footer input {
  padding: 0.5rem;
  color: #228cdb;
}
#footer input[type="submit"] {
  margin-top: 8px;
  border: 2px solid #228cdb;
  color: #fff;
  background-color: #228cdb;
  outline: none;
  border: 0px none;
  border-radius: 2px;
  cursor: pointer;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#footer input[type="submit"]:hover {
  background-color: #47c2f3;
}
#footer h3 {
  font-size: 1.25rem;
  color: #386fa4;
  text-decoration: none;
  cursor: default;
}
#footer .container {
  padding-top: 1rem;
  color: #000;
}
#footer #copyrights {
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin: 0px auto;
  background: #228cdb;
}
#footer #newsletter {
  border-top: 1px dashed rgba(166, 199, 214, 0.7);
}
#footer #newsletter h3 {
  text-align: center;
  padding: 0.5rem;
}

#gallery {
  color: #000;
}
#gallery .tab .cell-full {
  border: 1px dashed #e0e0e0;
}

#gallery-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#gallery-nav h2 {
  color: #495867;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
.tabs li {
  position: relative;
  border-radius: 2px 2px 0px 0px;
  width: 30%;
}
.tabs li .w-100 {
  position: absolute;
  bottom: -2px;
  display: none;
}
.tabs li .tab-btn {
  border: 0px none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  min-height: 100%;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.tabs li .tab-btn:hover {
  color: #228cdb;
}
.tabs .selected-tab {
  border: 1px solid #bbbbbb;
  border-bottom: none;
  background: #fff;
}
.tabs .selected-tab .w-100 {
  display: block;
  height: 4px;
  background: #fff;
}
.tabs .selected-tab .tab-btn {
  color: #495867;
}

.tab {
  padding: 2rem;
  padding-top: 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #fff;
  color: #495867;
}
.tab .img-responsive {
  width: 100%;
  -moz-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  border-radius: 2px;
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.tab .img-responsive:hover {
  transform: translateY(-50%) scale(1.05, 1.05);
}

#contact {
  color: #495867;
}
#contact h2 {
  font-weight: 200;
}
#contact input {
  display: block;
  padding: 0.5rem;
  width: 100%;
}
#contact input[type="submit"] {
  width: auto;
  font-weight: bold;
  padding: 12px 48px;
  font-size: 14px;
  background-color: #228cdb;
  outline: none;
  border: 0px none;
  border-radius: 2px;
  cursor: pointer;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#contact input[type="submit"]:hover {
  background-color: #47c2f3;
}
#contact h3 {
  cursor: default;
}
#contact h3:hover {
  text-decoration: none;
}
#contact .color-blue {
  color: #214d72;
}

#contact-form {
  width: 100%;
}

.contact-info-info {
  font-weight: bold;
}

.contact-link {
  cursor: pointer;
}

.full-line {
  display: block;
  font-size: 14px;
  line-height: 24px;
}

.color-red {
  color: #ff2904;
  font-weight: bolder;
}
.color-red:hover {
  color: #ff2904;
}

.text-box {
  border: 1px solid #bdbdbd;
  color: #495867;
  outline: none;
  border-radius: 2px;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.text-box:focus {
  box-shadow: 0px 0px 4px #228cdb;
}

.contact-right {
  margin-top: 1rem;
}

.textarea-field {
  padding: 0.5rem;
  resize: vertical;
  width: 100%;
  border: 1px solid #bdbdbd;
  color: #495867;
  outline: none;
  border-radius: 2px;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.textarea-field:focus {
  box-shadow: 0px 0px 4px #228cdb;
}

#contact-info {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  text-align: center;
  border-top: 1px dashed #bbbbbb;
  width: 100%;
}
#contact-info #social-media-contact {
  width: 100%;
  padding: 8px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  flex-wrap: wrap;
}
#contact-info .social-media {
  display: block;
}
#contact-info .social-media:hover {
  background: #ff2904;
  color: #fcfcfc;
}

#about-me {
  color: #495867;
}
#about-me h1 {
  border-left: 8px solid #e7ecef;
}
#about-me h2 {
  font-weight: bold;
  font-size: 1.125rem;
}
#about-me .about-info {
  font-size: 14px;
  padding-top: 0.25rem;
}
#about-me a {
  font-size: 14px;
  color: #495867;
}
#about-me img {
  border: 8px solid #e7ecef;
}

#about-me-info {
  text-align: center;
}

#register input {
  display: block;
  padding: 0.5rem;
  width: 100%;
}
#register input[type="submit"] {
  font-weight: bold;
  padding: 12px 48px;
  font-size: 14px;
  background-color: #228cdb;
  display: block;
  outline: none;
  border: 0px none;
  border-radius: 2px;
  cursor: pointer;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#register input[type="submit"]:hover {
  background-color: #47c2f3;
}

.sign-in-icon {
  background-color: #c1c1c1;
  border-radius: 50%;
  font-size: 108px;
  width: 108px;
  height: 108px;
  overflow: hidden;
  color: #f0f0f0;
  text-align: center;
}

.border-t-sm {
  border-top: 1px dashed #bbbbbb;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .navbar .nav {
    top: 78px;
  }

  .number-circle {
    min-width: 128px;
    height: 128px;
    font-size: 32px;
    line-height: 40px;
    padding: 40px 0px;
    border: 4px solid rgba(101, 137, 151, 0.33);
  }
  .number-circle:hover {
    border: 4px solid #228cdb;
  }

  #gallery-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #gallery-nav h2 {
    color: #495867;
    margin-bottom: 0px;
    width: auto;
    text-align: left;
  }

  .tabs {
    margin-left: auto;
    width: auto;
  }
  .tabs li {
    width: 100px;
  }

  .tab .row {
    justify-content: space-between;
  }
  .tab .cell-sm-half {
    width: 49%;
  }

  #about-me .tab .cell-sm-half {
    width: 50%;
  }

  #about-me-info {
    text-align: left;
  }

  #footer input[type="submit"] {
    margin-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }

  #main-navigation {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    height: 170px;
    box-shadow: none;
    -moz-transition: height 0.5s ease, background 0.7s ease;
    -o-transition: height 0.5s ease, background 0.7s ease;
    -webkit-transition: height 0.5s ease, background 0.7s ease;
    transition: height 0.5s ease, background 0.7s ease;
  }
  #main-navigation .container {
    height: 100%;
  }

  #main-navigation.white {
    height: 80px;
    background: #fff;
    box-shadow: 0px 1px 2px #808080;
  }
  #main-navigation.white .navbar .navbar-logo span {
    line-height: 64px;
  }

  #main-navigation.other-page {
    height: 80px;
    background: #fff;
    box-shadow: 0px 1px 2px #808080;
  }
  #main-navigation.other-page .navbar .navbar-logo span {
    line-height: 64px;
  }

  #main-navigation.nav-up {
    top: 0px;
  }

  .navbar {
    position: relative;
    height: 100%;
  }
  .navbar .nav {
    position: static;
    width: auto;
    height: 72px;
    margin-left: auto;
    align-items: center;
  }
  .navbar .navbar-logo {
    margin-left: 0px;
    padding-right: 0px;
  }
  .navbar .navbar-logo span {
    line-height: 154px;
    -moz-transition: line-height 0.5s ease;
    -o-transition: line-height 0.5s ease;
    -webkit-transition: line-height 0.5s ease;
    transition: line-height 0.5s ease;
  }
  .navbar .navbar-logo img {
    max-width: 100%;
  }

  .nav-item {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #main-nav {
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }

  #main {
    padding-top: 0px;
  }

  #main.other-page {
    padding-top: 80px;
  }

  #footer .cell-full {
    border-top: 0px none;
  }
  #footer input[type="submit"] {
    margin-top: 0px;
  }
  #footer #newsletter h3 {
    display: inline-block;
    margin-right: 1rem;
    padding: 0px;
  }

  .tab .cell-lg-quarter {
    width: 24%;
  }

  #about-me .tab .cell-lg-quarter {
    width: 25%;
  }
  #about-me .tab .cell-lg-third {
    width: 33.3333333333%;
  }

  #contact-form {
    width: 70%;
  }

  #contact-info {
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
    border-top: 0px none;
    width: 30%;
  }
  #contact-info #social-media-contact {
    justify-content: flex-start;
  }

  .contact-right {
    padding-left: 1.5rem;
    margin-top: 0px;
  }

  .contact-left {
    padding-right: 1.5rem;
  }

  .cell-lg-75 {
    width: 75%;
  }

  .border-t-sm {
    border-top: 0px none;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
