@import "palette";
@import "placeholders";
@import "myclasses";

// site specific

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, input, textarea
{
    font-family: "Ubuntu", sans-serif;
    color: $text-color;
}

a
{
    text-decoration: none;
}

#main-navigation
{
    box-shadow: 0px 1px 2px #808080;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    @include transition(top 0.3s);
    z-index: 1000;
    background-color: #fff;
}

.navbar
{
    position: relative;
    .nav
    {
        position: absolute;
        top: 74px;
        left: 0px;
        width: 36.67%;
        @include transition(left 0.3s);
    }

    .hide
    {
        left: -38%;
    }
}

.nav-item
{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#main-nav
{
    background-color: #fff;
    box-shadow: 2px 0px 8px -2px grey;
    height: 3000px;
}

#main-navigation.nav-up
{
    top: -74px;
}

#main
{
    padding-top: 72px;
    width: 100%;
    // TODO: Delete height
    height: 3000px;;
}

#cover
{
    position: relative;
    overflow: hidden;
}

#cover-content
{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    //text-shadow: 0px 0px 1px #000;
}

#cover-content p
{
    max-width: 70%;
    //text-shadow: 0px 0px 2px #000;
    //background-color: rgba(0, 0, 0, 0.05);
    //background: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.big-text
{
    font-size: 1.75rem;
    font-weight: bold;
}

.cover-img
{
    min-width: 100%;
    min-height: 100%;
}

.contact-btn
{
    background: linear-gradient(to right,#3e31ee, #47c2f3);
    border-radius: 6px;
    text-align: center;
    padding: 1.25rem;
    margin-top: 2rem;
    color: #fff;
    font-weight: bold;
    border: 0px none;
    outline: none;
    cursor: pointer;
    width: 220px;
    text-shadow: 0px 0px 0.3px #fff;

    a
    {
        color: #fff;
    }
}

// desktop
@media screen and (min-width: 992px)
{
    #main-navigation
    {
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        height: 170px;
        box-shadow: none;
        @include transition(height 0.7s, background 0.7s);

        .container
        {
            height: 100%;
        }
    }

    #main-navigation.white
    {
        height: 80px;
        background: #fff;
        box-shadow: 0px 1px 2px #808080;

        .navbar
        {
            .navbar-logo
            {
                span
                {
                    line-height: 64px;
                }
            }
        }
    }

    .navbar
    {
        position: relative;
        height: 100%;

        .nav
        {
            position: static;
            width: auto;
            height: 72px;
            margin-left: auto;
            align-items: center;
        }

        .navbar-logo
        {
            span
            {
                line-height: 154px;
                @include transition(line-height 0.7s);
            }

            img
            {
                max-width: 100%;
            }
        }
    }

    .nav-item
    {
        width: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #main-nav
    {
        background-color: transparent;
        box-shadow: none;
        height: auto;
    }

    #main
    {
        padding-top: 0px;
    }
}
